# This workflow will do a clean install of node dependencies, build the source code and run tests across different
# versions of node. Also, if its on master (not a PR) and there is a new version then it will publish the package.
# See: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI Build

on:
  push:
    branches:
      - "**"
    tags:
      - "v*"

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: volta-cli/action@v4
      - run: npm ci
      - run: npm run lint
      - run: npm run prettier:ci
      - run: npm run build
      - run: npm run test:ci
      - name: npm publish
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.')
        uses: JS-DevTools/npm-publish@v4
